@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;500&family=Source+Serif+4&display=swap');

body {
    background: #2980B9;  
    background: -webkit-linear-gradient(to top, #8bd6f1, #2980B9, #116297);  
    background: linear-gradient(to top, #8bd6f1, #2980B9, #116297); 
    color:white;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    min-height: 100vh;
}

.game {
    padding-top:40px;
}

.click-wrap {
    font-size:20px;
    line-height: 1.8;
}

.click-prompt {
    font-weight: 100;
}

#skip {
    text-align: center;
    background-color: transparent;
    color:rgb(219, 226, 233);
    border: none;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    font-size: 20px;
    cursor: pointer;
}

#skip:hover {
    text-decoration: underline;
}

.clikon {
    color:rgb(219, 226, 233);
    font-weight: 100;
}

#country-display {
    font-weight: 300;
    font-size:30px;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align:center;
    width:100%;
    padding-bottom:20px;
}

.footer a {
    text-decoration: none;
    padding:5px;
}

.footer svg {
    width:20px;
    color:white;
}