@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;500&family=Source+Serif+4&display=swap');

body {
    margin:0;
    padding-top:20px;
    background-color: #3c4350;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    color:white;
    text-align: center;
}

.click-prompt {
    color:white;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    font-weight: 100;
}

#country-display {
    font-weight: 300;
}

#skip {
    text-align: center;
    background-color: #3c4350;
    color:white;
    border: none;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    font-size: 18px;
    cursor: pointer;
}

#skip:hover {
    text-decoration: underline;
}

#skip-wrap {
    width: 80px;
    text-align: center;
    margin: 0 auto;
}