@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;500&family=Source+Serif+4&display=swap');

body {
    background: #2980B9;  
    background: -webkit-linear-gradient(to top, #c3efff, #2980B9, #2171a7);  
    background: linear-gradient(to top, #c3efff, #2980B9, #2171a7); 
    color:white;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

.click-wrap {
    font-size:24px;
}

.click-prompt {
    font-weight: 100;
}

#country-display {
    font-weight: 300;
}

#skip {
    text-align: center;
    background-color: transparent;
    color:white;
    border: none;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    font-size: 20px;
    cursor: pointer;
}

#skip:hover {
    text-decoration: underline;
}